.env
/public/bundles/
/var/
/vendor/
/.idea/*

composer.phar
composer.lock
package-lock.json
###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
/public/uploads/
###< symfony/webpack-encore-pack ###
